.intro__left>h1 {
    font-size: 6rem;
    color: yellow;
}

.intro__left>p {
    font-size: 2rem;
    color: #ffff0096;
}

.intro__right {
    text-align: center;
    padding: 100px 30px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 56%);
    border-radius: 10px;
}

.intro__right>p:first-child {
    color: white;
    background: #ed8d36;
    transition: all .3s ease-in-out;
    border: 2px solid #ed8d36;
}

.intro__right>p:first-child:hover {
    background: #fff;
    border: 2px solid #ed8d36;
    color: #ed8d36 !important;
}

.intro__right>p>h2 {
    font-weight: 800;
    margin-bottom: -5px;
}

.intro__right p {
    cursor: pointer;
    padding: 10px 0;
    border-radius: 10px;
    background: #fff;
    border: 2px solid #ed8d36;
    margin-bottom: 30px;
}

.intro__right p:hover {
    background: #ed8d36;
    color: #fff !important;
}

.intro__right p:hover span {
    color: blue !important;
}

.intro__right a,
span {
    text-decoration: none !important;
    color: #ed8d36;
}

@media (max-width: 991px) {
    .intro__left>h1 {
        font-size: 4rem;
    }
    .intro__right {
        padding: 50px 30px;
    }
}

@media (max-width: 500px) {
    .intro__right {
        padding: 40px 20px;
    }
}

@media (max-width: 400px) {
    .intro__left>p {
        font-size: 1.5rem;
    }
}