* {
  margin: 0;
  padding: 0;
}
section {
  margin: 50px 0;
}
.app {
  position: relative;
}
.app::before {
  content: "";
  background-image: url('./images//mainBg.jpg');
  background-size: cover;
  position: absolute;
  /* height: 100vh; */
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
  z-index: -99;

}